# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws
out/

# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# Logs
*.log
logs/

# OS-specific
.DS_Store
Thumbs.db

# JUnit Reports
test-results/
build/reports/
